.blog {
    background-color: #f2f2f2;
    padding: 2rem 0;
    margin-top: 2rem;
}
.blogTitulo {
    padding:1rem 0;
    text-align: center;
    font-weight: bold;
}
.cards-container {
    display: flex;
    margin: 0 10%;
    justify-content: center;
}
.card {
    margin: 0.5rem;
    height: 23rem;
    width: 18rem;
}
.card:hover {
    box-shadow: 0 0 8px black;
    cursor: pointer;
    text-decoration: underline;
}

.icon-container {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 8px;
}
.cards-container > a {
    text-decoration: none;
    color: black;
}
.icon-container > span {
    padding-left: 0.5rem;
}

@media all and (min-width: 768px) and (max-width: 1120px) {
    .blog {
        padding: 1rem;
    }
    .cards-container {
        overflow: hidden;
        margin: 0 2%;
        justify-content: center;
    }
    .cards-container > a {
        margin: 0;
    }
    .card {
        margin: 0.2rem;
        height: 20rem;
        width: 14rem;
    }
}
@media screen and (max-width: 768px) {
    .cards-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
}