.comentarios {
    margin: 1rem 10%;
    font-weight: bold;
}
.d-flex {
    margin: 0 10%;
}
.d-flex > img {
    padding: 4rem;
}
.p-3 {
    margin: 3rem;
    font-size: 1.3rem;
}
.p-3 > h3 {
    text-align: end;
    color: #bf35bc;
}

@media all and (min-width: 768px) and (max-width: 1120px) {
    .p-3 {
        margin: 1rem;
        font-size: 1rem;
    }
    .d-flex > img {
        padding: 2rem;
    }
}
@media screen and (max-width: 768px) {
    .comentarios {
        text-align: center;
        margin-top: 4rem;
    }
    .d-flex {
        display: flex;
        flex-direction: column-reverse;
        margin: 0 5%;
    }
    .p-3 {
        margin: 0 1rem;
        font-size: 1rem;
    }
    .p-3 > h3 {
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    
    .d-flex > img {
        padding: 0;
    }
}