.footer {
    background-color: #1f1f1f;
    height: 12rem;
}
.primerFooter {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 2rem;
}
.primerFooter > a, .primerFooter > p  {
    color: #fff;
    text-decoration: none;
    height: 2rem;
    flex-wrap: wrap;
    padding: 0.4rem 0.4rem 0 0.4rem;
}
.primerFooter > a:hover {
    background-color:#BF35BC;
    border-radius: 30px;
}
.segundoFooter {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
    height: 2rem;
    flex-wrap: wrap;
}

.segundoFooter > a {
    text-decoration: none;
    color: #fff;
}
.segundoFooter > a:first-child {
    text-decoration: none;
    color: #fff;
    padding: 0.4rem;
}
.fa-envelope, .fa-phone{
    padding-right: 1rem;
}
.segundoFooter > a:first-child:hover {
    background-color:#BF35BC;
    border-radius: 30px;
}
.segundoFooterIconos > a {
    text-decoration: none;
    color: #fff;
    padding: 0 1rem;
    font-size: 1.3rem;
}

.formMail > input {
    width: 15vw;
    height: 30px;
    border: 2px solid #fff;
    background-color: #1f1f1f;
    color: #fff;
}
.formMail > input::placeholder {
    color: #fff;
    padding-left: 5px;
}
.btnFooter {
    height: 30px;
    width: 7vw;
    border: 2px solid #fff;
    background-color: #fff;
    font-weight: bold;
}
.btnFooter:hover {
    background-color: #BF35BC;
    color: #fff;
    cursor: pointer;
}
.copyright {
    color: #545454;
    text-align: center;
    padding-top: 1rem;
}
.footer-responsive {
    display: none;
    background-color: #1f1f1f;
}

@media all and (min-width: 768px) and (max-width: 1120px) {
    .primerFooter {
        padding-top: 1rem;
        
    }
    .primerFooter > a  {
        height: 1.5rem;
        padding: 0.4rem 0.4rem 1.7rem 0.4rem;
        margin-top: -1rem;
    }
    .primerFooter > p {
        margin-left: 6rem;
        
    }
    .segundoFooter {
        justify-content: space-between;
        height: 1.5rem;
        flex-wrap: wrap;
    }
    .segundoFooter > a {
        font-size: 0.9rem;
    }
    .segundoFooterIconos > a {
        text-decoration: none;
        color: #fff;
        font-size: 1rem;
        
    }
    .segundoFooterIconos {
        margin-left: -3rem;
    }
    .formMail > input {
        width: 22vw;
        height: 30px;
        border: 2px solid #fff;
        background-color: #1f1f1f;
        color: #fff;
        margin-right: 0;
        
    }
    .btnFooter {
        height: 30px;
        width: 8vw;
        margin-left: 0;
        margin-right: 1rem;
    }
}
@media screen and (max-width: 768px) {
    .footer {
        display: none;
    }
    .footer-responsive {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-responsive > a {
        color: #fff;
        text-decoration: none;
        padding: 0.5rem;
    }
    .footer-responsive > a:hover {
        background-color: #BF35BC;
        border-radius: 30px;
    }
    .footer-responsive > p {
        color: #fff;
        margin: 1rem 0 0 0;
    }
    .footer-responsive-icons > a {
        padding: 0 1rem;
        color: #fff;
        font-size: 1.5rem;
    }
    .formMail {
        padding-top: 0.5rem;
    }
    .formMail > label {
        display: none;
    }
    .formMail > input {
        width: 40vw;
    }
    .btnFooter {
        width: 20vw;
    }
    .copyright-responsive {
        color: #545454;
        text-align: center;
        font-size: 1rem;
        padding: 1rem 0;
    }
}
